@font-face {
    font-family: "Debug-font";
    src: url("../font/1.woff2") format("woff2"),
    url("../font/1.woff") format("woff"),
    url("../font/1.otf") format("otf"),
    url("../font/1.ttf") format("ttf");
}

html {
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 13px;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #c4c4c4;
    font-weight: 500;
    letter-spacing: 1px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

li {
    list-style: none
}

.banner {
    background-image: url("../images/crackedwall.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    border-bottom: 1px solid #0d6efd;
    z-index: 7;
    transition: all 250ms ease;
}

.logo {
    width: 75px;
    transition: width 250ms ease
}

.header-scroll .logo {
    width: 60px
}

header ul {
    display: flex;
    gap: 50px;
    font-weight: 700;
    color: #c4c4c4;
    margin: 0;
}

header ul li {
    display: inline-flex;
}

header ul li a:hover {
    color: #0d6efd;
}

.header-scroll {
    background-color: #000000c9;
    padding: 0.5% 3%;
}



.video-close{
    position: absolute;
    top: 8px;
    right: 12px;
}




.search {
    position: relative
}

.search input {
    background: none;
    border: 2px solid #0d6efd;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    transition: width 250ms ease;
    color: #c4c4c4;
    padding: 5px 10px
}

.search input:focus {
    outline: none;
    width: 250px
}

.search:before {
    content: url("../images/svg/search.svg");
    position: absolute;
    top: 7px;
    right: 10px;
}

.banner p {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner span img {
    width: 50px;
    margin-left: 15px;
}

.banner span {
    display: inline-block;
}

.banner span:last-of-type {
    width: 300px;
}

.banner-text-box {
    color: #c4c4c4;
    position: absolute;
    left: 5%;
    top: 55%;
    transform: translateY(-50%);
}

.btn {
    background: none;
    border: 2px solid #0d6efd;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    width: 140px;
    color: #c4c4c4;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 250ms ease
}

.btn:hover {
    background-color: #0d6efd;
    color: #000
}

.banner h1 {
    font-family: 'Debug-font', serif;
    text-transform: uppercase;
    color: #0d6efd;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.contract {
    border-radius: 50px;
    padding: 5px 5px 5px 15px;
    border: 2px solid #0d6efd;
    margin-top: 25px;
}

.contract input {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
}

.contract button {
    background: none;
    border: 2px solid #0d6efd;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    color: #c4c4c4;
    text-transform: uppercase;
    font-size: 8px;
    width: unset;
    letter-spacing: 1px;
    transition: all 250ms ease
}

.contract button:hover {
    background-color: #0d6efd;
    color: #000
}

.main-bg {
    background-image: url("../images/full-bg.jpg");
    width: 100%;
    background-size: cover;
}

.listing-slider-sec {
    padding: 25px 150px;
    border-bottom: 2px solid #0d6efd;
}

.listing-slider-item img {
    height: 30px;
    margin: auto
}

.slick-prev {
    width: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(-1);
    left: -50px;
    background: none;
    border: none
}

.slick-next {
    width: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    background: none;
    border: none
}

.slick-next img, .slick-prev img {
    width: 25px
}

.about-sec {
    padding: 5%;
    color: #c4c4c4;
    border-bottom: 2px solid #0d6efd;
}

.about-sec .col-md-6 {
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

.about-sec .col-md-6:last-of-type {
    padding-right: 15%;
}

.about-sec img {
    width: 75%;
    margin: auto
}

.about-sec h2 {
    font-family: 'Debug-font', serif;
    font-size: 36px;
    text-transform: uppercase
}

.about-sec h2 b {
    color: #0d6efd
}

.about-sec p {
    margin: 25px 0;
    text-align: justify
}

.about-sec .btn {
    padding: 10px 35px;
    width: unset
}

.team-slider-sec {
    padding: 5%;
    text-align: center
}

.team-slider-sec h2 {
    font-family: 'Debug-font', serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #c4c4c4
}

.team-slider-sec h2 b {
    color: #0d6efd
}

.team-slider-sec p {
    color: #c4c4c4;
    margin: 10px 0 30px;
    font-weight: 600;
    letter-spacing: 2px
}

.team-card {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 50px;
    font-size: 16px;
    margin: auto;
}

.team-card img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1
}

.team-card p {
    color: #c4c4c4;
    margin: 10px 0 0 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px
}

.team-card b {
    color: #0d6efd;
    font-size: 12px
}

.team-card span {
    padding: 5px
}

.team-card span img {
    width: 25px;
    display: inline-block;
    margin: 0
}

.tokenomics-sec {
    padding: 5% 2.5%;
    text-align: center
}

.tokenomics-sec h2 {
    font-family: 'Debug-font', serif;
    font-size: 56px;
    text-transform: uppercase;
    color: #c4c4c4
}

.tokenomics-sec h2 b {
    color: #0d6efd
}

.tokenomics-sec p {
    color: #c4c4c4;
    margin: 10px 0 30px;
    font-weight: 600;
    letter-spacing: 2px
}

.tokenomic-holder {
    margin: 50px auto auto auto;
    text-align: left;
    align-items: center;
}

.tokenomic-holder ul {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px
}

.tokenomic-holder .col-md-6 {
    margin-bottom: 20px
}

.tokenomic-holder img {
    width: 100%
}

.tokenomic-holder li {
    color: #c4c4c4;
    text-align: left;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500
}

.tokenomic-holder ul span {
    color: #c4c4c4;
    text-align: left;
    font-size: 14px;
    font-weight: 500
}

.tokenomic-holder ul:first-of-type li {
    list-style-type: none;
    margin-left: 40px
}

.tokenomic-holder ul:first-of-type li:first-of-type {
    margin-top: 30px
}

.tokenomic-holder ul:first-of-type li:last-of-type {
    margin-bottom: 30px
}

.roadmap-sec {
    padding: 0 5% 5%;
    text-align: center
}

.roadmap-sec h2 {
    font-family: 'Debug-font', serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #c4c4c4
}

.roadmap-sec h2 b {
    color: #0d6efd
}

.roadmap-sec p {
    color: #c4c4c4;
    margin: 10px 0 30px;
    font-weight: 600;
    letter-spacing: 2px
}

.roadmap-holder {
    max-width: 1000px;
    margin: 50px auto auto auto;
    gap: 0;
    display: flex;
    flex-wrap: wrap
}

.roadmap-card {
    width: calc(100% / 4);
    display: inline-flex;
    flex-direction: column;
    padding: 30px 15px 0;
    margin: -1px;
    position: relative;
    text-align: left;
}

.roadmap-card ul {
    margin: 0;
    font-weight: 700
}

.roadmap-card li {
    list-style-type: disc;
    color: #c4c4c4;
    text-align: left;
    margin: 10px 0;
    font-weight: 400
}

.roadmap-card:nth-child(1) {
    border-left: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-card:nth-child(4) {
    border-right: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-card:nth-child(2) {
    border-right: 2px dashed #0d6efd
}

.roadmap-card:nth-child(6) {
    border-left: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd;
    border-right: 2px dashed #0d6efd
}

.roadmap-card:nth-child(7) {
    border-right: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-card span {
    font-size: 8px;
    border: 2px solid #0d6efd;
    border-radius: 50px;
    padding: 3px;
    position: absolute;
    width: 70px;
    top: -22px;
    text-align: center;
}

.roadmap-card:nth-child(1) span {
    left: -36px
}

.roadmap-card:nth-child(4) span {
    right: -36px
}

.roadmap-card b {
    font-size: 8px;
    text-align: center;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    padding: 3px 1px 2px 2px;
    position: absolute;

    height: 20px;
    top: 5px;
}

.roadmap-card b:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    border-bottom: 1px solid #0d6efd;
    top: 50%;
}

.roadmap-card:nth-child(1) b {
    left: 44px
}

.roadmap-card:nth-child(1) b:before {
    left: -45px
}

.roadmap-card:nth-child(4) b {
    right: 44px
}

.roadmap-card:nth-child(4) b:before {
    right: -45px
}

.roadmap-card:nth-child(7) b {
    right: 44px
}

.roadmap-card:nth-child(7) b:before {
    right: -45px
}

.roadmap-card:nth-child(6) b {
    left: 44px
}

.roadmap-card:nth-child(6) b:before {
    left: -45px
}
.roadmap-card:nth-child(8) b {
    left: 44px
}

.roadmap-card:nth-child(8) b:before {
    left: -45px
}

.roadmap-mobile {
    max-width: 500px;
    margin: auto;
    padding: 30px
}

.roadmap-mob-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: -1px;
    position: relative;
    text-align: left;
}

.roadmap-mob-card b {
    font-size: 8px;
    text-align: center;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    padding: 3px 1px 2px 2px;
    position: absolute;

    height: 20px;
    top: 5px;
}

.roadmap-mob-card b:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    border-bottom: 1px solid #0d6efd;
    top: 50%;
}

.roadmap-mob-card ul {
    margin: 0;
    font-weight: 700
}

.roadmap-mob-card li {
    list-style-type: disc;
    color: #c4c4c4;
    text-align: left;
    margin: 10px 0;
    font-weight: 400
}

.roadmap-mob-card:nth-child(1) {
    border-top: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd;
    border-right: 2px solid #0d6efd
}

.roadmap-mob-card:nth-child(2) {
    border-left: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-mob-card:nth-child(3) {
    border-right: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-mob-card:nth-child(4) {
    border-left: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-mob-card:nth-child(5) {
    border-right: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd
}

.roadmap-pc {
    display: block
}

.roadmap-mobile {
    display: none
}

.roadmap-mob-card span {
    font-size: 8px;
    border: 2px solid #0d6efd;
    border-radius: 50px;
    padding: 3px;
    position: absolute;
    width: 70px;
    text-align: center;
}

.roadmap-mob-card span:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    left: 50%;
    border-left: 2px solid #0d6efd;

}

.span1 {
    left: -35px;
    top: -35px;
    right: unset;
    bottom: unset
}

.span2 {
    left: -35px;
    bottom: -35px;
    top: unset;
    right: unset
}

.span1:before {
    bottom: -15px;
}

.span2:before {
    top: -15px;
}

.roadmap-mob-card:nth-child(1) b {
    right: 44px
}

.roadmap-mob-card:nth-child(1) b:before {
    right: -45px
}

.roadmap-mob-card:nth-child(2) b {
    left: 44px
}

.roadmap-mob-card:nth-child(2) b:before {
    left: -45px
}

.roadmap-mob-card:nth-child(3) b {
    right: 44px
}

.roadmap-mob-card:nth-child(3) b:before {
    right: -45px
}

.roadmap-mob-card:nth-child(4) b {
    left: 44px
}

.roadmap-mob-card:nth-child(5) b {
    right: 44px
}

.roadmap-mob-card:nth-child(5) b:before {
    right: -45px
}

.roadmap-mob-card:nth-child(4) b:before {
    left: -45px
}

.partners-sec {
    padding: 0;
    text-align: center
}

.partners-sec h2 {
    font-family: 'Debug-font', serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #c4c4c4;
    padding-bottom: 50px;
    border-bottom: 2px solid #0d6efd
}

.partners-sec h2 b {
    color: #0d6efd
}

.partners-holder {
    padding: 5%;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-holder div {
    width: calc(100% / 3);
    margin-bottom: 30px
}

.partners-holder div:last-of-type {
    width: 100%;
    margin-bottom: 30px
}

footer {
    background-image: url("../images/footer-background.jpg");
    background-size: cover;
    background-position: center
}

.footer-content-wrapper {
    border-bottom: 2px solid #0d6efd;
    padding: 5%
}

footer b {
    font-family: 'Debug-font', serif;
    color: #0d6efd;
    font-size: 36px;
    line-height: 35px
}

.icon-footer {
    width: 25px;
    border: 1px solid #0d6efd;
    border-radius: 30%;
    padding: 3px;
    margin-right: 5px
}

footer .col-md-4 li {
    margin: 10px 0;
    line-height: unset
}

footer .col-md-4 img {
    margin: 0 0 0px 0;
}

footer li {
    margin: 10px 0;
    line-height: 25px
}

footer form{
    display: flex;
}

.newsletter b {
    font-size: 14px;
    text-transform: uppercase
}

.newsletter form input {
    background: none;
    border: 1px solid #0d6efd;
    border-radius: 50px 0 0 50px;
    height: 30px;
    color: #c4c4c4;
    padding: 5px
}

.newsletter form input:focus {
    outline: none
}

.newsletter form button {
    height: 30px;
    background: none;
    border: 1px solid #0d6efd;
    border-radius: 0 50px 50px 0;
    color: #c4c4c4;
    margin-left: -1px;
    transition: all 250ms ease
}

.newsletter form button:hover {
    background-color: #0d6efd;
    color: #000
}

.copyright-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    font-weight: 700
}

.copyright-bar li {
    display: inline-block;
    margin: 0
}

.copyright-bar ul {
    margin: 0
}

.copyright-bar i {
    font-style: normal;
    font-weight: 100
}

.me-nav {
    width: 0;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 8;
}

.me-nav .holder1, .holder2 {
    padding: 0;
    position: fixed;
    height: 100vh;
    width: 0
}

.holder2 {
    margin-top: -30px
}

.menav1 ul li {
    height: 5vh;
    background-color: #0d6efde0;
    width: 100vw;
    margin: 30px 0;
    transition: transform 500ms ease-in;
    transform: scaleY(0);
    transform-origin: top;
}

.menav2 ul li {
    height: 5vh;
    background-color: #0d6efde0;
    width: 100vw;
    margin: 30px 0;
    transition: transform 500ms ease-in;
    transform: scaleY(0);
    transform-origin: bottom;
}

.active .menav1 ul li {
    transform: scaleY(1);
    transform-origin: bottom
}

.active .menav2 ul li {
    transform: scaleY(1);
    transform-origin: top
}

.active .menav-menu ul li {
    transform: scaleY(1);
}

.active .closebtn {
    transform: scaleY(1);
}

.active .menav-menu ul {
    height: unset;
    opacity: 1
}

.menav-menu ul {
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 0;
    opacity: 0;
    width: 100%;
    padding: 0;
    transition-delay: 250ms;
    transition: height 250ms ease-in;
}

.menav-menu a {
    color: #fff
}

.menav-menu .active a:hover {
    color: #fff
}

.menav-menu ul li {
    color: #fff;
    font-family: "Debug-font", sans-serif;
    font-size: 36px;
    margin: 30px 0;
    transform: scaleY(0);
    transition: transform 250ms ease-in
}

.burger-menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #0d6efd;
    margin: 0 0 0 20px;
    position: fixed;
    z-index: 8;
    right: 15px;
    top: 20px;
    display: none
}

.burger-scroll {
    color: #0d6efd;
    top: 13px;
}

.closebtn {
    position: fixed;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #fff;
    transform: scaleY(0);
    z-index: 9;
    transition: transform 250ms ease-in;
}

.slick-slide {
    text-align: center
}

.closebtn:hover {
    color: #fff
}

.scroll-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 15;
    transform: rotate(-90deg);
    background-color: #c4c4c44f;
    border-radius: 50%;
    opacity: 0;
    user-select: none;
    transition: opacity 250ms ease
}

.scroll-button img {
    width: 50px
}

.scroll-button-scroll {
    opacity: 1
}

.team-page-sec {
    padding: 15% 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column
}

.team-page-sec h2 {
    font-family: 'Debug-font', serif;
    font-size: 56px;
    text-transform: uppercase;
    color: #0d6efd
}

.team-page-sec .row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 5%;
    grid-row-gap: 30px
}

.demo-page-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.demo-page-sec h1 {
    font-family: 'Debug-font', serif;
    font-size: 76px;
    text-transform: uppercase;
    color: #0d6efd
}

#main-video {
    width: 100vw;
    height: 100vh;
    /* padding: 5%; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    z-index: 99;
    transition: all 500ms ease;
}

.video-ended {
    opacity: 0;
    user-select: none;
    z-index: -1 !important;
}

.important-dates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: #c4c4c4;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 11px;
}

.important-dates h6{font-family: 'Debug-font', serif;font-size: 46px;text-transform: uppercase;color: #0d6efd;}
.important-dates ul{padding: 0}
.important-dates ul li{margin: 10px 0}
.important-dates ul:first-of-type{font-weight: 700;font-size: 14px}


/*.hide4{*/
/*    padding-right: 0px !important;*/
/*    display: none !important;*/
/*}*/
.enter-btn{
    display: none;
}
.show-enter-btn{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 224px;
    background: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 23px;
    z-index: 100;

}
.video-close-btn{

    position: absolute;
    z-index: 100;
    color: white !important;
    /* filter: contrast(0.1); */
    right: 11px;
    top: 10px;
    font-size: 21px;

}
.modal-open .modal{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 0px !important;
}
.modal-dialog{
    width: 100%;
    max-width: 100%;
    margin: 0px;
}

@media screen and (max-width: 1050px) {
    footer li {
        font-size: 12px;
        letter-spacing: unset
    }

    .footer-content-wrapper {
        padding: 2%
    }
}

@media screen and (max-width: 992px) {
    .team-page-sec .row {
        grid-template-columns: 1fr 1fr;
    }

    .burger-menu-icon {
        display: block
    }

    .header-main {
        padding: 1.5% 12% 1.5% 5%;
    }

    .header-main ul {
        display: none;
    }

    footer b {
        font-size: 25px
    }

    footer li {
        font-size: 8px
    }

    .banner-text-box {
        /* backdrop-filter: brightness(0.3);
        color: #fff;
        width: 100%;
        display: flex;
        height: 150vh;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px 50px 10px;
        transform: none;
        left: 0;
        top: 0; */

        color: #c4c4c4;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);

    }

    .contract {
        max-width: 360px
    }

    .banner-text-box .btn {
        color: #fff
    }
}

@media screen and (max-width: 769px) {
    .banner{height: fit-content}
    .banner-text-box{position: relative;transform: unset;left: 0;padding: 150px 40px 0}
    .important-dates{position: relative;transform: unset;left: 0;padding: 50px 40px 20px}
    .team-page-sec {
        padding-top: 150px
    }

    footer form{
        display: flex;
        justify-content: center;
    }

    .roadmap-sec {
        padding: 25% 5%;
        text-align: center;
    }

    .roadmap-pc {
        display: none
    }

    .roadmap-mobile {
        display: block
    }




    .listing-slider-sec {
        padding: 30px
    }

    .listing-slider-item img {
        height: 30px
    }

    .slick-next, .slick-prev {
        opacity: 0
    }

    .about-sec .col-md-6:last-of-type {
        padding: 35px;
        text-align: justify
    }

    .tokenomics-sec p {
        margin: 10px 0
    }

    .tokenomics-sec ul {
        margin-bottom: 20px;
        padding: 0
    }

    .tokenomic-holder img {
        margin-top: 40px
    }

    .partners-holder div {
        width: calc(100% / 2)
    }

    .partners-holder div:last-of-type {
        width: calc(100% / 2)
    }

    .partners-holder img {
        width: 75px
    }

    footer {
        text-align: center
    }

    .footer-contact li {
        width: 200px;
        text-align: left;
        margin: 10px auto
    }

    .footer-contact li:first-of-type {
        text-align: center
    }

    .roadmap-card:nth-child(1) span {
        left: -22px
    }

    .roadmap-card:nth-child(4) span {
        right: -22px
    }

    .roadmap-card span {
        width: 44px
    }

    .roadmap-card {
        padding: 25px 0 0
    }

    .roadmap-card li {
        font-size: 8px;
        margin: 5px 0
    }

    .roadmap-card ul {
        padding-left: 20px
    }

    .partners-sec h2 {
        padding: 10px 0 25px 0
    }

    .col-xs-6 {
        width: calc(100% / 2)
    }

    .copyright-bar {
        flex-direction: column;
        padding: 15px;
        gap: 15px
    }

    footer b {
        font-size: 36px
    }

    footer li {
        font-size: 12px
    }

}
.close-button {
    border: 2px solid white;
    padding: 5px 25px;
    outline: none;
    background: none;
    border-radius: 50px;
    color: #0d6efd;
}
@media screen and (max-width: 570px) {
    .team-page-sec .row {
        grid-template-columns: 1fr;
    }

    .menav-menu ul li {
        margin: 15px 0
    }

    
}

@media screen and (max-width:440px){
    .banner-text-box{
        position: initial;
        padding-top: 135px;
        transform: none;
    }
    .important-dates{position: relative;transform: unset;left: 0;padding: 50px 0px 20px}
    .important-dates a {font-size: 14px;}

}

@media screen and (max-width: 470px) {

    footer li {
        line-height: unset
    }

    footer a {
        font-size: 12px
    }

    footer b {
        font-size: 28px
    }

    .roadmap-card:nth-child(1) span {
        left: -18px
    }

    .roadmap-card:nth-child(4) span {
        right: -18px
    }

    .roadmap-card span {
        width: 36px
    }

    .roadmap-card b {
        font-size: 7px;
        padding-top: 5px
    }

    .roadmap-card li {
        font-size: 5px;
        margin: 5px 0
    }

    .roadmap-card ul {
        padding-left: 15px;
        font-size: 9px
    }

    .roadmap-holder {
        margin: 50px auto auto 5px;
    }

    .banner p {
        width: 100%
    }

    .roadmap-card {
        padding: 35px 0 10px;
    }

    .roadmap-card:nth-child(6) b {
        left: 15px;
    }

    .roadmap-card:nth-child(1) b {
        left: 15px;
    }

    .roadmap-card:nth-child(4) b {
        right: 15px;
    }

    .roadmap-card:nth-child(7) b {
        right: 15px;
    }

    .roadmap-card:nth-child(6) b:before {
        left: -16px;
    }

    .roadmap-card:nth-child(1) b:before {
        left: -16px;
    }

    .roadmap-card:nth-child(4) b:before {
        right: -16px;
    }

    .roadmap-card:nth-child(7) b:before {
        right: -16px;
    }

    .roadmap-card b:before {
        width: 15px
    }

}

@media screen and (max-width: 450px) {
    .demo-page-sec h1 {
        font-size: 58px
    }

    .burger-menu-icon {
        top: 18px
    }

    .burger-scroll {
        color: #0d6efd;
        top: 10px;
        right: 5px;
    }

    .header-main {
        padding: 1.5% 15% 1.5% 5%;
    }

    a {
        font-size: 20px
    }

    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.team-slider, .listing-slider {
    cursor: grab;
}

@media (max-width: 767px) {
    #video-sec{
        padding: 10px !important;
    }
    .modal.show .modal-dialog{
        top: 50%;
        transform: translate(0, -50%);
    }
}